<app-header [titleTemplate]="title"></app-header>
<ng-template #title>BLog Admin Form</ng-template>
<div class="container">
    <h1>Add Post</h1>
    <form [formGroup]="form" (submit)="onSubmit()" novalidate>
        <div class="container__form">
            <mat-form-field appearance="fill">
                <mat-label>Title</mat-label>
                <input matInput type="text" formControlName="title">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Comment</mat-label>
                <textarea matInput placeholder="Comment..." formControlName="comment"></textarea>
            </mat-form-field>
        </div>
        <div class="container__button">
            <button mat-button color="primary" (click)="gotoPosts()">...Back</button>
            <button mat-button color="accent" type="submit" [disabled]="form.invalid">Accept</button>
        </div>
    </form>
</div>