<h1 mat-dialog-title>Add Comment</h1>
<form [formGroup]="form" (submit)="onSubmit()" novalidate>
    <div class="container__form-dialog">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
            <mat-error *ngIf="form?.get('email')?.hasError('email')">
                Please enter a valid email address
            </mat-error>
            <mat-hint>Errors appear instantly!</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Comment</mat-label>
            <textarea matInput placeholder="Comment..." formControlName="comment"></textarea>
        </mat-form-field>
    </div>
    <div class="container__button">
        <button mat-button color="primary" type="button" (click)="onNoClick()">...No</button>
        <button mat-button color="accent" type="submit" cdkFocusInitial [disabled]="form.invalid">Accept</button>
    </div>
</form>